@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html, body { background: rgb(36, 31, 49) }

html { height: 100%; }

body {
  color: rgb(255, 255, 255);
  font-family: "Source Sans 3", sans-serif, monospace;
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-weight: 400;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

.post-meta { text-align: right; }

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { margin: 2.2rem 0; }

li { margin: 0.4rem 0; }

ul li {
  list-style-image: url(/assets/bullet.svg);
  margin-inline-end: 1ch;
  margin-bottom: 1rem;
}

a {
  color: orange;
  transition: all 300ms ease-in-out;
  text-decoration: none;
}
@media (prefers-contrast: more) {
  a {
    text-decoration-color: unset;
  }
}
@media (prefers-reduced-motion) {
  a {
    transition: none;
  }
}
a:hover {
  text-decoration-color: unset; /* restore text decoration color to match text color */
}

*:target { background: yellow; }

kbd {
  font-family: monospace;
  font-size: 70%;
  padding: 0.2rem 0.4rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
  border-radius: 12px;;
}

.w {
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid white;
  border-collapse: collapse;
  padding: 0.4rem;
}
black
code {
  color: black;
  background: white;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
  font-size:1rem;
  line-height:1.5rem;
  background-color:#111;
}

blockquote {
  font-style: italic;
  border: thin solid white;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  margin: 0 auto;
}


picture.rounded img,
video.rounded,
img.rounded {
  border-radius: 12px;;
}


img[src$="-screenshot.png"],
img[src$="-screenshot.jpg"],
img[src$="-screenshot.webp"] {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  transition: all 300ms ease-out;
}

img[src$="-screenshot.png"]:hover,
img[src$="-screenshot.jpg"]:hover,
img[src$="-screenshot.webp"]:hover {
  transform: scale(1.06);
  cursor: zoom-in;
}

picture.full {
  display: block;
  grid-column: full;
  margin: 0;
}

picture.full img {
  display: block;
  width: 100%;
  margin: 0;
}

video {
  width: 100%;
  height: auto;
}
